aside {
	position: fixed;
	width: 280px;
	height: 100%;
	top: 50px;
	bottom: 0;
	left: -300px;
	z-index: 1000;
	background-color: white;
	border-right: 1px solid #3636361a;
	transition: left 0.2s ease-in-out;

	&.open {
		left: 0 !important;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		padding-top: 20px;

		li {
			padding: 10px 20px;
			display: flex;
			align-items: center;
			background-color: white;
			transition: background-color 0.1s ease-in-out;
			margin: 5px 20px;
			border-radius: 10px;

			&:hover {
				background-color: #f1f1f1;
			}

			i {
				font-size: 20px;
				width: 30px;
				color: grey;
			}

			a {
				text-decoration: none;
				color: #363636;
				font-size: 16px;
				font-weight: 400;
			}
		}
	}
}